@model Сайт_Знакомств.ViewModels.NotFullUserInfoViewModel

@{
    ViewData["Title"] = "Info";
}

<h1>Info</h1>

<div class="col">
    <form method="post" action="Liked">
        <p><img src="@Model.Path" style="width:400px; height:400px " class="rounded-circle"></p>
        @Html.HiddenFor(modelInfo => Model.User2Id)

        @Html.DisplayName("Имя: ")
        @Html.DisplayFor(modelItem => Model.FirstName)
        @Html.DisplayFor(modelItem => Model.LastName) <br />

        @Html.DisplayName("О себе: ")
        @Html.DisplayFor(modelItem => Model.Description)<br />

        @Html.DisplayName("Возраст: ")
        @Html.DisplayFor(modelItem => Model.Age)
    <div class="col">
        <a asp-action="Search" asp-controller="Home" class="badge badge-info">Назад</a>
        <a href="~/Home/Liked?user2Id=@Model.User2Id" class="badge badge-success">Нравится</a>
    </div>
    </form>
</div>


