@model IEnumerable<Сайт_Знакомств.ViewModels.NotFullUserInfoViewModel>

@{
    ViewData["Title"] = "Search";
    int countModel = Model.Count();
}
@if (TempData["message"] != null)
{
<p class="TempDataMessage">@TempData["message"]</p>
}
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Найдите свою пару</a>
    <button class="btn btn-success" id="showFilterUrButton">Фильтр</button>
    <form class="form-inline" id="FilterForm">
        <input name="UserName" id="UserName" class="form-control mr-sm-2" type="search" placeholder="Поиск по имени" aria-label="Search" required>
        <input asp-action="UserFilter" asp-controller="Home" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Поиск" />
    </form>
</nav>
<div class="navbar navbar-light bg-light justify-content-between">
    <form id="FilterUr" style="display:none">
        <h3>Возраст</h3>
        <div class="form-inline">
            <input name="MinAge" id="MinAge" class="form-control mr-sm-2" type="number" placeholder="От 18" required max="100" min="18">
            <input name="MaxAge" id="MaxAge" class="form-control mr-sm-2" type="number" placeholder="До 100" required max="100" min="18">
        </div>

        <br />

        <h3>Пол</h3>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Sex" value="1" id="Sex">
            <label class="form-check-label" for="flexRadioDefault1">
                Мужчина
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Sex" value="2" id="Sex" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                Женшина
            </label>
        </div>
        <br />
        <div>
            <input asp-action="UserFilter" asp-controller="Home" class="btn btn-success" type="submit" value="Фильтр" />
        </div>
    </form>
</div>

<br />
<div id="UserList" class="row col">
    @foreach (var item in Model)
    {
        @if (item.UserWhoLiked != item.UserBeingLiked)
        {
            <div class="col">
                <p><img src="@item.Path" style="width:200px; height:200px " class="rounded-circle"></p>
                @Html.HiddenFor(modelInfo => item.UserBeingLiked)

                @Html.DisplayName("Имя: ")
                @Html.DisplayFor(modelItem => item.FirstName) <br />

                @Html.DisplayName("Фамилия: ")
                @Html.DisplayFor(modelItem => item.LastName) <br />

                @Html.DisplayName("Возраст: ")
                @Html.DisplayFor(modelItem => item.Age)
                <div class="col">
                    <a href="~/Home/Liked?userBeingLiked=@item.UserBeingLiked"  >Нравится</a>
                    <a href="~/Home/Info?userBeingLiked=@item.UserBeingLiked" class="badge badge-info">Инфо</a>
                </div>
            </div>
        }
    }

</div>



@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            function showFilterUsersForm() {
                $("#FilterUr").show();
            }

            function hideFilterUsersForm() {
                $("#FilterUr").hide();
            }
            $("#showFilterUrButton").click(function (e) {
                $("#FilterUr").is(":visible")
                    ? hideFilterUsersForm()
                    : showFilterUsersForm();
            })
            
                // не смог оптимизировать работу class="form-check" и сделал обычный запрос
                // проблема: всегда получаю 1 значение если даже выбрал второй



            //$("#FilterUr").submit(function (e) {
            //    e.preventDefault();
            //    let MinAge = $("#MinAge").val();
            //    let MaxAge = $("#MaxAge").val();
            //    let Sex = $("#Sex").val();
            //    let url = `/Home/UserFilter/?MinAge=${MinAge}&MaxAge=${MaxAge}&Sex=${Sex}`;
            //    $.ajax({
            //        type: "Get",
            //        url: url,
            //        error: function (result) {
            //            alert("Пользователь таким параметром не найден");
            //        },
            //        success: function (result) {
            //            $("#UserList").html(result)
            //        }

            //    });

            //});

            $("#FilterForm").submit(function (e) {
                e.preventDefault();
                let UserName = $("#UserName").val();
                let url = `/Home/UserFilter/?UserName=${UserName}`;
                $.ajax({
                    type: "Get",
                    url: url,
                    error: function (result) {
                        alert("Пользователь таким именем не найден");
                    },
                    success: function (result) {
                        $("#UserList").html(result)
                    }

                });
            });
        })
    </script>

}


