@model IEnumerable<Сайт_Знакомств.ViewModels.NotFullUserInfoViewModel>

@{
    ViewBag.Title = "UserFilter";

}


<div>
    <a asp-action="Search" asp-controller="Home" class="badge badge-info">Назад</a>
    <br />
</div>
<br />
<h3 style="color:dodgerblue">@ViewBag.Message</h3>

<div class="row col">
    @foreach (var item in Model)
    {

        <div class="col">
            <p><img src="@item.Path" style="width:200px; height:200px" class="rounded-circle"></p>
            @Html.HiddenFor(modelInfo => item.User2Id)

            @Html.DisplayName("Имя: ")
            @Html.DisplayFor(modelItem => item.FirstName) <br />

            @Html.DisplayName("Фамилия: ")
            @Html.DisplayFor(modelItem => item.LastName) <br />

            @Html.DisplayName("Возраст: ")
            @Html.DisplayFor(modelItem => item.Age)
            <div class="col">
                <a href="~/Home/Liked?user2Id=@item.User2Id" class="badge badge-success">Нравится</a>
                <a href="~/Home/Info?user2Id=@item.User2Id" class="badge badge-info">Инфо</a>
            </div>
        </div>

    }

</div>


