@model NotFullUserInfoViewModel

<div>
    <h4>NotFullUserInfoViewModel</h4>
    <hr />
    <p><img src="@Model.Path" style="width:200px; height:200px " class="rounded-circle"></p>
    @Html.DisplayName("ФИО: ")
    @Html.DisplayFor(modelItem => Model.FirstName)
    @Html.DisplayFor(modelItem => Model.LastName)
    <br />

    @Html.DisplayName("О себе: ")
    @Html.DisplayFor(modelItem => Model.Description)
    <br />

    @Html.DisplayName("Возраст: ")
    @Html.DisplayFor(modelItem => Model.Age)
    @*<div class="col">
            <a asp-action="GetReciprocity" asp-controller="Likes" asp-route-id=@Model.User1Id class="badge badge-info">Назад</a>
            <input type="hidden" name="User1Id" value=@Model.User1Id>
            <input type="hidden" name="User2Id" value=@Model.User2Id>
            <input type="submit" value="Убрать Лайк" />
        </div>*@
</div>
<div>
    <form method="post">
        <input type="hidden" name="User1Id" value=@Model.User1Id />
        <input type="hidden" name="User2Id" value=@Model.User2Id />
        <input type="submit" value="Отправить" />
    </form>
    <a href="/Likes/GetRandomUser?id=@Model.User1Id" class="badge badge-info">Пропустить</a>
    @Html.ActionLink("Пропустить", "GetRandomUser", "Likes",new { id = Model.User1Id, idUserSkip = Model.User2Id })
</div>
