@model Сайт_Знакомств.Models.User

@{
    ViewData["Title"] = "Profile";
}

<h1 style=" align-items: center;">Profile</h1>

@{
    var user = Model;
}

    <div id="UserProfile" class="card">
        <div style="display: flex; align-items: center; padding: 10px">
            <img src="@user.Path" style="width:200px; height:200px " class="rounded-circle">
            <div style="margin-left:20px;">
                @Html.DisplayName("Имя: ")
                @Html.DisplayFor(modelItem => user.FirstName) <br />

                @Html.DisplayName("Фамилия: ")
                @Html.DisplayFor(modelItem => user.LastName) <br />

                @Html.DisplayName("Возраст: ")
                @Html.DisplayFor(modelItem => user.Age) <br />

                @Html.DisplayName("Эл. почта: ")
                @Html.DisplayFor(modelItem => user.Email) <br />

                @Html.DisplayName("Номер телефона: ")
                @Html.DisplayFor(modelItem => user.PhoneNumber)

                <br /> <a asp-controller="User" asp-action="EditProfile" class="btn btn-success" type="submit" value="Edit frofile" >Edits Profile</a>
            </div>
            <div style="margin-left: 20px">
                @Html.DisplayName("О себе: ") <br />
                @Html.DisplayFor(modelItem => user.Description)
            </div>
        </div>
    </div>

